* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#button-wrapper, #etch-a-sketch {
    display: flex;
    width: 650px;
    margin: 40px auto;
}

#etch-a-sketch, .box {
    border: 1px solid black;
}

#button-wrapper {
    justify-content: center;
    gap: 10px;
}

#button-wrapper button {
    padding: 10px;
}

.box {
    width: 32px;
    height: 32px;
    flex: auto;
}

#etch-a-sketch {
    flex-wrap: wrap;
    gap: 5px;
    height: 650px;
    padding: 20px;
}