* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 32px;
    height: 32px;
    border: 1px solid red;
    flex: auto;
}

#etch-a-sketch {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid black;
    width: 650px;
    height: 650px;
    padding: 20px;
    margin: 50px auto;
}